p.centrado{  
  float: left; 
  width: 100px;
  margin: 10px;
  margin-right: 255px;
  /*
  float: center;
  margin: 10px;
  float: left; 
  */ }
   
  .card{
   float: right;  
   width: 100;
   margin-right: 1px;
   /*margin: 510px; /* Posicion del formulario  */
  }
  .card.card{
   float: center;  
   width: 350px;
  }